## Домашняя работа - 1

### Задание:

Необходимо запустить практическую часть занятия- файл находиться в материалах, и посмотреть самому то, о чём говорили на лекции.
По образу практики, попробуйте создать искусственный датасет с лишними столбцами.
Целевую метку, при правильной обработке данных, формируйте таким образом, чтобы без затруднений её смогла описать линейная модель.
Ориентируйтесь на то, что было показано во время занятия, и каждый шаг описывайте в markdown.
Здесь важно видеть ваш ход мысли. Не бойтесь ошибиться или написать не то. Данное задание не имеет какого-то “правильного” решения. Цель - достичь базового понимания проблемы. Чем больше вы фантазируете, тем лучше :) Тем не менее, старайтесь представить те ситуации, которые по-вашему мнению могли бы быть в реальных данных. Успеха!

### По образу практики, попробуйте создать искусственный датасет с лишними столбцами.

Для начала создам датафрейм, содержащий инофрмацию о грешниках:

Возраст - 18 - 90 age

Пол - m(male) / f(female)

Вес - 40 - 210 kg

Рост - 150 - 225 sm

По данному датафрейму, буду пытаться понять влияет количество плохих помыслов, с возрастом)).

In [2]:
import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression

In [67]:
n_samples = 500
YES = 'Y'
NO = 'N'
MALE = 'M'
FEMALE = 'F'

age = np.random.choice(88, n_samples) + 3
sex = [FEMALE if i > 1 else MALE for i in np.random.choice(3, n_samples)]
weight = np.random.choice(80, n_samples) + 10
height = np.random.choice(160, n_samples) + 50


amount_of_bad_thoughts = np.random.choice(30, n_samples) + n_samples * 2

In [69]:
data = pd.DataFrame({'age': age, 'sex': sex, 'weight': weight,
                     'height': height, 'amount_of_bad_thoughts': amount_of_bad_thoughts})
data.head(10)

   age sex  weight  height  amount_of_bad_thoughts
0   33   M      78      93                    1025
1   10   F      21     199                    1005
2   48   M      58     174                    1021
3   40   M      69     191                    1029
4   55   M      53     195                    1014
5   52   M      60      54                    1019
6   41   F      70     167                    1018
7   35   F      85     151                    1004
8   20   M      32     137                    1014
9   42   M      80     117                    1016

In [70]:
from sklearn.metrics import mean_absolute_error

x = data[['amount_of_bad_thoughts', 'height', 'weight']] ## плохие помыслы, рост и вес 
y = data['age'] ## с взрастом
reg = LinearRegression().fit(x, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['amount_of_bad_thoughts', 'height', 'weight']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [ 0.13030831 -0.00706636  0.06422392]
Bias: -85.42943831194665
Error: 22.723638240183277

In [71]:
from sklearn.metrics import mean_absolute_error

x = data[['amount_of_bad_thoughts', 'weight']] ## плохие помыслы и вес
y = data['age'] ## с взрастом
reg = LinearRegression().fit(x, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['amount_of_bad_thoughts', 'weight']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [0.12836664 0.06439107]
Bias: -84.38662136309009
Error: 22.731521594159588

In [72]:
# Создаем новый признак
# amount of good deeds - количество хороших дел
data['amount_of_good_deeds'] = data['age'] * data['height']
data.head(10)

   age sex  weight  height  amount_of_bad_thoughts  amount_of_good_deeds
0   33   M      78      93                    1025                  3069
1   10   F      21     199                    1005                  1990
2   48   M      58     174                    1021                  8352
3   40   M      69     191                    1029                  7640
4   55   M      53     195                    1014                 10725
5   52   M      60      54                    1019                  2808
6   41   F      70     167                    1018                  6847
7   35   F      85     151                    1004                  5285
8   20   M      32     137                    1014                  2740
9   42   M      80     117                    1016                  4914

In [73]:
x = data[['amount_of_good_deeds']] ## хорошие поступки
y = data['age'] ## с возратом
reg = LinearRegression().fit(x, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['age']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [0.00512664]
Bias: 16.420028712032483
Error: 34.51093225033021