# Домашняя работа №6 (Основы Pandas)

### Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [2]:
import pandas as pd

movies = pd.read_csv('movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [6]:
ratings = pd.read_csv('ratings.csv')
movies_info = pd.read_csv('movies.csv').set_index(keys='movieId', drop=False)

top_films = ratings.query('rating == 5')

best_film_id = top_films['movieId'].value_counts().idxmax()

print(f'Top movie: {movies_info.loc[best_film_id, "title"]}')

Top movie: Shawshank Redemption, The (1994)

### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [11]:
power_data = pd.read_csv('power.csv')
sub_data = power_data.query('country in ("Latvia", "Lithuania", "Estonia") '
                            '& category in (4, 12, 21) & 2005 <= year <= 2010 & quantity >= 0')

print(f"Total power consumption: {sub_data['quantity'].sum()}")

Total power consumption: 240580.0

### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [16]:
fortrader_df = pd.read_html('https://fortrader.org/quotes', header=0)[0]

In [17]:
fortrader_df

                               Type    Last  Chg.  Chg.%  Time
0  Нефть (BRENT) Курс нефти сегодня  57.600 -0.78 -1.340   NaN
1   Нефть (WTI) Цены на нефть (WTI)  52.050 -0.77 -1.460   NaN
2          Сахар котировки на сахар  12.630  0.00  0.000   NaN
3                   Газ Цена на газ   2.271 -0.02 -0.873   NaN

In [23]:
finanz_df = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni', header=0)[0]

In [24]:
finanz_df

,аааа,2Т 706,"-0,5%",Nasdaq,7Т 956,"-0,3%",ааИбаКаОаЙаН,8Т 224,"0,1%",USD/RUB,"65,1945","0,3%"
0,а аЂаЁ,1Т 308,"-0,9%",S&P500,2Т 939,"-0,5%",ааЕббб,575,"-1,7%",EUR/RUB,716535,"0,5%"
1,Dow,26Т 478,"-0,4%",FTSE100,7Т 178,"-0,3%",ааОаЛаОбаО,1Т 505,"0,8%",EUR/USD,10992,"0,2%"