## Домашняя работа №8. Pandas - сводные таблицы и объединения

### Задание 1

Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId

In [10]:
import pandas as pd
import numpy as np

In [26]:
df = pd.read_csv('ratings.csv')
df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [39]:
ratings = pd.read_csv('ratings.csv')


users = ratings.groupby('userId').agg({'timestamp': ['min', 'max'], 'movieId': 'count'})
users = users[users['movieId']['count'] > 100]
users['Lifetime'] = users.apply(lambda row: row['timestamp']['max'] - row['timestamp']['min'], axis=1)

avg_life_time = round(users['Lifetime'].mean())

print(avg_life_time)

44731368

### Задание 2

Дана статистика услуг перевозок клиентов компании по типам (см. файл с кодом занятия). Необходимо сформировать две таблицы:

- таблицу с тремя типами выручки для каждого client_id без указания адреса клиента

- аналогичную таблицу по типам выручки с указанием адреса клиента

Обратите внимание, что в процессе объединения таблиц данные не должны теряться.

In [6]:
import pandas as pd

rzd = pd.DataFrame({'client_id': [111, 112, 113, 114, 115], 'rzd_revenue': [1093, 2810, 10283, 5774, 981]})

auto = pd.DataFrame({'client_id': [113, 114, 115, 116, 117], 'auto_revenue': [57483, 83, 912, 4834, 98]})

air = pd.DataFrame({'client_id': [115, 116, 117, 118], 'air_revenue': [81, 4, 13, 173]})

client_base = pd.DataFrame({'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
                            'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14',
                            'ЗЖБИиДК 1', 'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']})

In [7]:
from typing import List
from functools import reduce

def merge_dfs(dfs: List[pd.DataFrame], **kwargs) -> pd.DataFrame:
    return reduce(lambda res, df: res.merge(df, **kwargs), dfs)

merged_data = merge_dfs([client_base, rzd, auto, air], on='client_id', how='outer')

In [9]:
merged_data.drop(columns='address')
merged_data

   client_id          address  rzd_revenue  auto_revenue  air_revenue
0        111  Комсомольская 4       1093.0           NaN          NaN
1        112   Энтузиастов 8а       2810.0           NaN          NaN
2        113  Левобережная 1а      10283.0       57483.0          NaN
3        114          Мира 14       5774.0          83.0          NaN
4        115        ЗЖБИиДК 1        981.0         912.0         81.0
5        116    Строителей 18          NaN        4834.0          4.0
6        117  Панфиловская 33          NaN          98.0         13.0
7        118     Мастеркова 4          NaN           NaN        173.0

### Задание 3

В задаче сквозной аналитики вам предоставили данные по местоположению пользователей. Т. е. для каждого user_id известна последовательность координат (широта/долгота), когда они требовались приложению для полноценной работы. Как бы вы добавили эти сведения в таблицу визитов и покупок?

### Ответ

Сначала для каждого пользователя необходимо проверить является ли user_id уникальным. Если нет - создать уникальный ID? для последующих действий. Если user_id уже является уникальным, то далее можно будет отслеживать все вкусы и поведение нашего пользователя. Рекомендовать ему те или иные продукты, оповещать об акциях (подобранных под его вкус).
Добавление данных в таблицу:

1. Учитаваем что местоположение имеют цифровое значение выраженное в координатах (широта, долгота) для каждого пользователя которому присвоен уникальный ID. Это может быть отдельная таблица с данными.
2. Далее конкретные данные по пользователю (что покупал: из еды, вещей и т.д.). Другая таблица, при необходимости, а может быть, к примеру, и открытый датасет из магазина.
3. Полученные данные можно крутить-вертеть и анализировать:)